<div id="changePass">
    <div class="container">
        <div id="changePass-row" class="row justify-content-center align-items-center">
            <div id="changePass-column" class="col-md-4 border border-info rounded pt-5">
                <div id="changePass-box" class="col-md-12 pb-5">
                    <form id="changePass-form" class="form" action="" method="post">
                        <h3 class="text-center text-info">Change Password</h3><br>
                        <div class="form-group">
                            <label for="currentPassword" class="text-info">Current Password:</label><br>
                            <input type="password" name="currentPassword" id="currentPassword" class="form-control" [(ngModel)]="currentPassword">
                        </div>
                        <div class="form-group">
                            <label for="newPassword" class="text-info">New Password:</label><br>
                            <input type="password" name="newPassword" id="newPassword" class="form-control" [(ngModel)]="newPassword">
                        </div>
                        <div class="form-group">
                            <label for="confirmNewPassword" class="text-info">Confirm New Password:</label><br>
                            <input type="password" name="confirmNewPassword" id="confirmNewPassword" class="form-control" [(ngModel)]="confirmNewPassword">
                        </div>
                        <p class="text-center text-danger"><small>{{errorMessage}}</small></p>
                        <div class="form-group">
                          <input type="submit" name="submit" class="btn btn-info btn-md" value="Update" (click)="changePassword()">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container"><br><br></div>
  </div>
