#chat-history{
  max-height: 300px;
}

#chat-message{
  font-size: 14px;
}

div {
  list-style: none; /* Remove default bullets */
}

#usersInRoom {
  font-size: 15px;
}

#rooms{
  padding-left: 25px;
  padding-right: 25px;
}

#clearChat {
  padding-left: 25px;
  padding-right: 25px;
}
