<div id="profile">
  <div class="container profile-container">
      <div id="profile-row" class="row justify-content-center align-items-center">
          <div id="profile-column1" class="pt-5 pb-4">
            <ul class="list-group list-group-flush">
                <img src="uploads/{{photo}}" alt="image-not-found" class="rounded-circle border border-info img-thumbnail" height="300px" width="300px">
            </ul>
          </div>
          <div id="profile-column2" class="pt-5 pb-4">
            <ul class="list-group list-group-flush border rounded">
              <li class="list-group-item text-center list-group-item-info">{{gender}}</li>
              <li class="list-group-item text-center list-group-item-info">Born {{birthdate}}</li>
            </ul>
          </div>
      </div>
      <div id="profile-row" class="row justify-content-center align-items-center">
          <div id="profile-column3" class="pt-5 pb-4">
              <p style="display:inline" class="text-center m-2"><button class="btn btn-success" (click)="passwordButtonClicked()">Change Password</button></p>
              <p style="display:inline" class="text-center m-2"><button class="btn btn-success"(click)="photoButtonClicked()">Update Photo</button></p>
              <p style="display:inline" class="text-center m-2"><button class="btn btn-danger" (click)="deleteUser()">Delete Account</button></p>

          </div>
      </div>
  </div>
  <div class="container"><br><br></div>
</div>
